[submodule "src/.tmp_update/.data/Core/Retroarch"]
	path = src/.tmp_update/.data/Core/Retroarch
	url = https://github.com/IllustratedMan-code/Onion-Retroarch.git
[submodule "Onion-Themes"]
	path = Onion-Themes
	url = https://github.com/IllustratedMan-code/Onion-Themes.git
